<h2>Providers</h2>
<div class="box round_all">
	<table class="display datatable index_tables">
  		<thead>
  			<tr>
			    <th>Name</th>
			    <th>Bio</th>
			    <th>Website</th>
			    <th>Agreement on file</th>
			    <th>Type</th>
			    <th>Notes</th>
			    <th colspan="3">Actions</th>
			  </tr>
		</thead>
		<tbody>
			<% @providers.each do |provider| %>
			  <tr>
			    <td><%= provider.name %></td>
			    <td><%= provider.bio %></td>
			    <td><%= provider.website %></td>
			    <td><%= provider.agreement_on_file %></td>
			    <td><%= provider.type %></td>
			    <td><%= provider.notes %></td>
			    <td>
					<%= link_to provider do %>
						<button class="skin_colour round_all">
							<img src="<%= icon_path %>/Document.png" alt="View this provider" />
						</button>
					<% end %>
				</td>
				<td>
					<%= link_to edit_provider_path(provider) do %>
						<button class="skin_colour round_all">
							<img src="<%= icon_path %>/Pencil.png" alt="Edit this provider" />
						</button>
					<% end %>
				</td>
				<td>
					<%= link_to provider, :confirm => 'Are you sure?', :method => :delete do%>
						<button class="skin_colour round_all">
							<img alt="Delete this provider" src="<%= icon_path %>/Trashcan.png" />
						</button>
					<% end %>
				</td>
			  </tr>
			<% end %>
		</tbody>
	</table>

	<br />

	<%= link_to new_provider_path do %>
		<button class="skin_colour round_all">
			<img src="<%= icon_path %>/Document.png" alt="New Provider" />
			<span>New Provider</span>
		</button>
	<% end %>

</div>