<!-- 
	EJS TEMPLATE for rendering the table view of internships.
	This section is inserted into tbody
-->

<% $.each(countries, function(i, country_code) { %>
	<% $.each(country_code, function(i, internship) { %>
		<tr onclick="setupDialogBox(<%= internship.id %>)">
			<td><%= internship.name %></td>
			<td><%= internship.provider_name %></td>
			<td><%= internship.city %>, <%= internship.country %></td>
			<td>0</td>
			<td><img align="absmiddle" src="/images/icons/small/grey/Facebook%20Like.png" width=24 height=24>15
			<img align="absmiddle" src="/images/icons/small/grey/Facebook-Dislike.png" width=24 height=24>15</td>
		</tr>
	<% }) %>
<% }) %>

