<!-- 
	EJS TEMPLATE for the modal dialog that appears when an internship is clicked.  This template simply renders 
	the html for all the tabs and returns it.
-->

<div id="dialog-<%= id %>" class="internship_details" title="<%= name %>">
	
	<div id="tabs-<%= id %>">
		
		<ul>
			<li><a href="#tab-1">General Info</a></li>
			<li><a href="#tab-2">Academics</a></li>
			<li><a href="#tab-3">Career</a></li>
			<li><a href="#tab-4">Languages</a></li>
			<li><a href="#tab-5">Qualifications</a></li>
			<li><a href="#tab-6">Application Process</a></li>
			<li><a href="#tab-7">Locations</a></li>
			<li><a href="#tab-8">Financial Assistance</a></li>
		</ul>
		
		<div id="tab-1">
			<p><%= description %></p>
			<p><%= deadline %></p>
			<p><%= stipend %></p>
			<p>
				<ul>
					<li><%= is_paid ? 'Paid' : 'Not Paid' %></li>
					<li><%= requires_us_citizenship ? 'Requires US Citizenship' : 'Does Not Require US Citizenship' %></li>
					<li><%= (is_part_time ? 'Part Time' : '') + 
									((is_part_time && is_full_time) ? ', ' : '') + 			
									(is_full_time ? 'Full Time' : '') %>
					</li>
					<li><%= for_credit ? 'For Credit' : 'Not For Credit' %></li>
				</ul>
			</p>
		</div>
		
		<div id="tab-2">
			<p>Academic Contact: <%= academic_contact_name %></p>
			<p>Majors:
				<ul>
					<% $.each(academic_focuses, function(index, focus) { %>
						<% if(focus.type == 'Major') { %>
							<li><%= focus.name %></li>
						<% } %>
					<% }) %>
				</ul><br />
				Minors:
				<ul>
					<% $.each(academic_focuses, function(index, focus) { %>
						<% if(focus.type == 'Minor') { %>
							<li><%= focus.name %></li>
						<% } %>
					<% }) %>
				</ul>
			</p>
			<p>Semesters:
				<ul>
					<% $.each(semesters, function(index, semester) { %>
						<li><%= semester.name %></li>
					<% }) %>
				</ul>
			</p>
		</div>
		
		<div id="tab-3">
			<p>Provider: <%= provider_name %></p>
			<p>Provider Contact: <%= provider_contact_name %></p>
			<p>Fields:
				<ul>
					<% $.each(fields, function(index, field) { %>
						<li><%= field.name %> (<%= field.industry %>)</li>
					<% }) %>
				</ul>
			</p>
		</div>
		
		<div id="tab-4">
			Languages:
			<ul>
				<% $.each(languages, function(index, language) { %>
					<li><%= language.name %></li>
				<% }) %>
			</ul>
		</div>
		
		<div id="tab-5">
			<p>Qualifications:<br />
				<%= qualifications %><br />
				Academic Qualifications:<br />
				<%= qualifications_academic %>
			</p>
		</div>
		
		<div id="tab-6">
			<%= application_process %>
		</div>

		<div id="tab-7">
			Locations:
			<ul>
				<% $.each(locations, function(index, location) { %>
					<li><%= location.city %> , <%= location.country %></li>
				<% }) %>
			</ul>
		</div>
		
		<div id="tab-8">
			<ul>
				<% $.each(financial_assistance_options, function(index, option) { %>
					<li>
						Name: <%= option.name %> <br />
						Qualifications: <%= option.qualifications %><br />
						Option Type: <%= option.type %><br />
						Website: <a href="<%= option.website %>" target="new"><%= option.website %></a><br />
						Amount: <%= option.how_much %><br />
						Source: <%= option.source %>
					</li>
				<% }) %>
			</ul>
		</div>
		
	</div>
	
</div>