<%= form_for(@long_term_goal) do |f| %>
  <% if @long_term_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@long_term_goal.errors.count, "error") %> prohibited this Long Term Goal from being saved:</h2>

      <ul>
      <% @long_term_goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="actions grid_16">
		<% content_tag :button, :type => :submit, :class => "green round_all" do %>
	 		<%= image_tag "icons/small/white/Bended%20Arrow%20Right.png" %>
			<span>Save this Long Term Goal!</span>
		<% end %>
	</div>
	<%= theme_box(8, "Basic Information") do %>
		<div class="field">
		    <%= f.label :name %><br />
		    <%= f.text_field :name %>
		  </div>
		  <div class="field">
		    <%= f.label :description %><br />
		    <%= f.text_area :description %>
		  </div>
	<% end %>
	<%= theme_box(8, "Ownership", true) do %>	
		<% if can? :manage, :users %>
			<div class="field">
				<label>Net Id</label>
				<div class="input_group">
					<%= f.collection_select :user_id, User.all, :id, :net_id, {:selected => @long_term_goal.user.id},{:class => 'chosen'} %>
				</div>
			</div>
		<% else %>
			<%= f.hidden_field :user_id %>
		<% end %>
	<% end %>
	
<% end %>
