<h1>Listing long_term_goals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @long_term_goals.each do |long_term_goal| %>
  <tr>
    <td><%= long_term_goal.name %></td>
    <td><%= long_term_goal.description %></td>
    <td><%= link_to 'Show', long_term_goal %></td>
    <td><%= link_to 'Edit', edit_long_term_goal_path(long_term_goal) %></td>
    <td><%= link_to 'Destroy', long_term_goal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Long term goal', new_long_term_goal_path %>
