<%= form_for(@academic_focus) do |f| %>
  <% if @academic_focus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@academic_focus.errors.count, "error") %> prohibited this academic_focus from being saved:</h2>

      <ul>
      <% @academic_focus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
	<div class="field">
		<%= f.label :academic_focus_type_id %><br />
		<%= f.collection_select :academic_focus_type_id, AcademicFocusType.all, :id, :name %>
	</div>
  	<div class="field">
		<%= f.label :department_id %><br />
		<%= f.collection_select :department_id, Department.all, :id, :name %>
	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
