<%= form_for(@financial_assistance_option) do |f| %>
  <% if @financial_assistance_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@financial_assistance_option.errors.count, "error") %> prohibited this financial_assistance_option from being saved:</h2>

      <ul>
      <% @financial_assistance_option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="actions grid_16">
	    <% content_tag :button, :type => :submit, :class => "green round_all" do %>
	 			<%= image_tag "icons/small/white/Bended%20Arrow%20Right.png" %>
				<span>Save this Financial Option!</span>
			<% end %>
	</div>

	<%= theme_box(8, "", false) do %>
  	<div class="field">
	    <%= f.label :name %>
	    <%= f.text_field :name %>
	  </div>
		<div class="field">
			<%= f.label :financial_assistance_option_type_id %>
			<%= f.collection_select :financial_assistance_option_type_id, FinancialAssistanceOptionType.all, :id, :name, {}, {:class => 'chosen'} %>
		</div>
	  <div class="field">
	    <%= f.label :how_much, "How much (in dollars)" %>
	    <%= f.text_field :how_much %>
	  </div>
	  <div class="field">
	    <%= f.label :qualifications %>
	    <%= f.text_area :qualifications %>
	  </div>
	  <div class="field">
	    <%= f.label :source %>
	    <%= f.text_field :source %>
	  </div>
	  <div class="field">
	    <%= f.label :website %>
	    <%= f.text_field :website %>
	  </div>
	<% end %>

<% end %>
