<h1>Listing financial_assistance_options</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>How much</th>
    <th>Qualifications</th>
    <th>Source</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @financial_assistance_options.each do |financial_assistance_option| %>
  <tr>
    <td><%= financial_assistance_option.name %></td>
    <td><%= financial_assistance_option.type %></td>
    <td><%= financial_assistance_option.how_much %></td>
    <td><%= financial_assistance_option.qualifications %></td>
    <td><%= financial_assistance_option.source %></td>
    <td><%= financial_assistance_option.website %></td>
    <td><%= link_to 'Show', financial_assistance_option %></td>
    <td><%= link_to 'Edit', edit_financial_assistance_option_path(financial_assistance_option) %></td>
    <td><%= link_to 'Destroy', financial_assistance_option, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Financial assistance option', new_financial_assistance_option_path %>
