<p id="notice"><%= notice %></p>
<div class="flat_area grid_16">
	<h2><%= @task.name %></h2>
	<span class="edit_links">
		<%= link_to 'Edit', edit_task_path(@task) %> |
		<%= link_to 'Back', tasks_path %>
	</span>
</div>
<div class="box grid_8">
	<p>
	  <b>Name:</b>
	  <%= @task.name %>
	</p>

	<p>
	  <b>Description:</b>
	  <%= @task.description %>
	</p>
</div>