<h2>Students</h2>
<div class="box round_all">
	<table class="display datatable index_tables">
  		<thead>
  			<tr>
			    <th>First Name</th>
			    <th>Last Name</th>
			    <th colspan="2">Actions</th>
		  	</tr>
		</thead>
		<tbody>
			<% @students.each do |student| %>
  			<tr>
			    <td><%= student.firstname %></td>
			    <td><%= student.lastname %></td>
			    <td>
					<%= link_to student do %>
						<button class="skin_colour round_all">
							<img src="<%= icon_path %>/User.png" alt="View this student's profile" />
						</button>
					<% end %>
				</td>
		    	<td>
					<%= link_to myguide_path(student.id) do %>
						<button class="skin_colour round_all">
							<img src="<%= icon_path %>/Blocks Images.png" alt="View MyGuide for this student" />
						</button>
					<% end %>
				</td>
			  </tr>
			<% end %>
		</tbody>
	</table>

	<br />

	<%= link_to new_student_path do %>
		<button class="skin_colour round_all">
			<img src="<%= icon_path %>/Document.png" alt="New Student" />
			<span>New Student</span>
		</button>
	<% end %>
	
</div>