<h1>Listing academic_focus</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Academic focus type</th>
    <th>Department</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @academic_focus.each do |academic_focu| %>
  <tr>
    <td><%= academic_focus.name %></td>
    <td><%= academic_focus.academic_focus_type_id %></td>
    <td><%= academic_focus.department_id %></td>
    <td><%= link_to 'Show', academic_focus %></td>
    <td><%= link_to 'Edit', edit_academic_focus_path(academic_focu) %></td>
    <td><%= link_to 'Destroy', academic_focus, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Academic focu', new_academic_focus_path %>
