<%= form_for(@provider_contact) do |f| %>
  <% if @provider_contact.errors.any? %>
    <div class="box grid_16 round_all">
		    <div class="alert alert_red">
					<img src="<%= icon_path %>/Alarm%20Bell.png" />
		      <strong><%= pluralize(@provider_contact.errors.count, "error") %></strong> prohibited this internship from being saved:
		    </div>

		</div>
		<div class="box grid_16 round_all">
			<div class="alert_sub_red">
				<ul>
					<% @provider_contact.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
				</ul>
			</div>
		</div>
  <% end %>

	<div class="actions grid_16">
		<% content_tag :button, :type => :submit, :class => "green round_all" do %>
			<%= image_tag "icons/small/white/Bended%20Arrow%20Right.png", :title => "submit!"%>
			<span>Save this Provider Contact!</span>
		<% end %>
	</div>

<%= theme_box(8, "Basic Information") do %>
  		<div class="field">
		    <%= f.label :name %>
		    <%= f.text_field :name %>
		  </div>
		  <div class="field">
		    <%= f.label :email %>
		    <%= f.text_field :email %>
		  </div>
		  <div class="field">
		    <%= f.label :phone %>
		    <%= f.text_field :phone %>
		  </div>
		  <div class="field">
		    <%= f.label :fax %>
		    <%= f.text_field :fax %>
		  </div>
		  <div class="field">
		    <%= f.label :can_call %>
		    <%= f.check_box :can_call %>
		  </div>
			<div class="field">
				<%= f.label :provider_id %>
				<%= f.collection_select :provider_id, Provider.all, :id, :name %>
			</div>	
			
<% end %>

<% end %>
