<style>
	select.chosen, input:not([type="submit"]){
		width: 300px;
	}

</style>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :net_id %><br />
    <%= f.text_field :net_id %>
  </div>
	<div class="field">
		<%= f.label :roles %><br />
		<%= f.collection_select :role_ids, Role.all, :id, :name, {}, {:multiple => true, :class => 'chosen'} %>
	</div>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
