<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Net:</b>
  <%= @user.net_id %>
</p>

<p>
	
	<b><%= link_to "View MyGuide Data", myguide_path(@user) %></b>
	
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
