<h2>Countries</h2>
<div class="box round_all">
	<table class="display datatable index_tables">
  		<thead>
  			<tr>
			    <th>Name</th>
			    <th>Un code</th>
			    <th colspan="3">Actions</th>
			</tr>
		</thead>
		<tbody>

			<% @countries.each do |country| %>
			  <tr>
			    <td><%= country.name %></td>
			    <td><%= country.un_code %></td>
			    <td>
					<%= link_to country do %>
						<button class="skin_colour round_all">
							<img src="<%= icon_path %>/Document.png" alt="View this country" />
						</button>
					<% end %>
				</td>
		    	<td>
					<%= link_to edit_country_path(country) do %>
						<button class="skin_colour round_all">
							<img src="<%= icon_path %>/Pencil.png" alt="Edit this country" />
						</button>
					<% end %>
				</td>
		    	<td>
					<%= link_to country, :confirm => 'Are you sure?', :method => :delete do%>
						<button class="skin_colour round_all">
							<img alt="Delete this country" src="<%= icon_path %>/Trashcan.png" />
						</button>
					<% end %>
				</td>
			  </tr>
			<% end %>
		</tbody>
	</table>

	<br />
	<%= link_to new_country_path do %>
		<button class="skin_colour round_all">
			<img src="<%= icon_path %>/Document.png" alt="new_country_path" />
			<span>New Country</span>
		</button>
	<% end %>
</div>