<p id="notice"><%= notice %></p>

<div id="flat_area grid_16">
	<h2><%= @country.name %></h2>
	<span class="edit_links">
		<%= link_to 'Edit', edit_country_path(@country) %> |
		<%= link_to 'Back', countries_path %>
	</span>
</div>

<%= theme_box(8, "", false) do %>
	<p>
	  <b>Un code:</b>
	  <%= @country.un_code %>
	</p>
<% end %>



