<h2>Listing semesters</h2>
<div class="box round_all">
	<table class="display datatable index_tables">
  		<thead>
  			<tr>
			    <th>Name</th>
			    <th colspan="3">Actions</th>
	  		</tr>
		</thead>
		<tbody>
			<% @semesters.each do |semester| %>
  			<tr>
			    <td><%= semester.name %></td>
			    <td>
					<%= link_to semester do %>
						<button class="skin_colour round_all">
							<img src="<%= icon_path %>/Document.png" alt="View this semester" />
						</button>
					<% end %>
				</td>
		    	<td>
					<%= link_to edit_semester_path(semester) do %>
						<button class="skin_colour round_all">
							<img src="<%= icon_path %>/Pencil.png" alt="Edit this semester" />
						</button>
					<% end %>
				</td>
		    	<td>
					<%= link_to semester, :confirm => 'Are you sure?', :method => :delete do%>
						<button class="skin_colour round_all">
							<img alt="Delete this semester" src="<%= icon_path %>/Trashcan.png" />
						</button>
					<% end %>
				</td>
			  </tr>
			<% end %>
		</tbody>
	</table>

	<br />

	<%= link_to new_semester_path do %>
		<button class="skin_colour round_all">
			<img src="<%= icon_path %>/Document.png" alt="New Semester" />
			<span>New Semester</span>
		</button>
	<% end %>
</div>