<style>
	.dashboard{
		padding-bottom: 200px;
	}
	.dashboard a{
		float: left;
	}
	button span{
		padding: 15px; 
		font-size: 15px;
		width: 300px;
	}
</style>

<h1>Student Advisement Portal (SAP)</h1>
<p>This portal is designed to increase the service capacity of the Humanities Advisement Center.</p>
<div class="dashboard">

	<% if can? :manage, :users %>
		<%= link_to users_path do %>
			<button class="skin_colour round_all">
				<span>Manage Users</span>
			</button>
		<% end %>
	<% end %>
	<% if can? :read, :internships %>
		<%= link_to internships_map_path do %>
			<button class="skin_colour round_all">
				<span>Browse Internships</span>
			</button>
		<% end %>
	<% end %>
	<% if can? :myguide, :pages, @current_user.id %>
		<%= link_to myguide_path(@current_user.id) do %>
			<button class="skin_colour round_all">
				<span>Explore MyGuide</span>
			</button>
		<% end %>
	<% end %>
	<% if can? :make, :advisement_appointment %>
		<%= link_to nil do %>
			<button class="skin_colour round_all">
				<span>Make an Advisement Appointment</span>
			</button>
		<% end %>
	<% end %>
	<% if can? :read, :students %>
		<%= link_to students_path do %>
			<button class="skin_colour round_all">
				<span>See Students</span>
			</button>
		<% end %>
	<% end %>
	<% if can? :update_some, :short_term_goals %>
		<%= link_to short_term_goals_path do %>
			<button class="skin_colour round_all">
				<span>Edit Short Term Goals</span>
			</button>
		<% end %>
	<% end %>
	<% if can? :create, :short_term_goals %>
		<%= link_to new_short_term_goal_path do %>
			<button class="skin_colour round_all">
				<span>Add Short Term Goal</span>
			</button>
		<% end %>
	<% end %>
	<% if can? :update_some, :internships %>
		<%= link_to internships_path do %>
			<button class="skin_colour round_all">
				<span>Edit Internships</span>
			</button>
		<% end %>
	<% end %>
	<% if can? :create, :internships %>
		<%= link_to new_internship_path do %>
			<button class="skin_colour round_all">
				<span>Add Internship</span>
			</button>
		<% end %>
	<% end %>

</div>