<p id="notice"><%= notice %></p>

<div class="flat_area grid_16">
	<h2><%= @field.name %></h2>
	<span class="edit_links">
		<%= link_to 'Edit', edit_field_path(@field) %> |
		<%= link_to 'Back', fields_path %>
	</span>
</div>

<%= theme_box(8, "", false) do %>
	<p>
	  <b>Industry:</b>
	  <%= @field.industry.name %>
	</p>
<% end %>


