<script>
	$(function(){
		$("#internship_provider_id").change(function(){
			$.ajax({
				url: '/provider_contacts.json',
				data: {"provider_id":$("#internship_provider_id").val()},
				dataType: 'json',
				success: function(data){
					$("#internship_provider_contact_id").html('');
					var provider_contact = $("#internship_provider_contact_id").val();
					$.each(data, function(){
						var selected = '';
						if(provider_contact == this.provider_contact.id){
							selected = 'selected="selected"';
						}
						$("#internship_provider_contact_id").append(
							'<option value="' + this.provider_contact.id + '" ' + selected + '>'
							+ this.provider_contact.name + '</option>'
						);
					});
				}
			});
		});		
		$("#internship_provider_id").trigger('change');
		
		$(".add_img").attr('src','http://humadvisement.byu.edu/sites/default/files/menu_icons/Add-Button_64x64.png');
		$(".add_img").click(function(){
			addNew($(this).attr('model'));
		});
	});
	function addNew(model){
		var dialog = "";
		$.ajax({
			type: "GET",
		   	url: "/" + model + "/new",
		   	data: {'dialog':true},
		   	success: function(data){
				dialog = '<div id="dialog">' + data + '</div>';
				$('body').append(dialog);
				$( "#dialog" ).dialog({width: 800, height: 500, close: function(event, ui) { 
					$("#dialog").dialog('destroy');
					$("#dialog").remove();
					model_singular = model.substring(0,model.length-1);
					$.ajax({
						url: '/' + model + '.json',
						data: {},
						dataType: 'json',
						success: function(data){
							$.each(data, function(index){
								console.log(data[index][name]);
						 	});
						}
					});					
				}});
		   	},
		   	error: function(){
				alert( "ERROR!");
		   	}
		});
	}
</script>
<style>

	.add_img{
		float: right;
		width: 25px;
		margin-top: -35px;
		cursor: pointer;
	}
	.field label{
		clear: both;
	}
	.add_img.select{
		float: none;
	}

</style>
<%= form_for(@short_term_goal) do |f| %>
  <% if @short_term_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@short_term_goal.errors.count, "error") %> prohibited this short_term_goal from being saved:</h2>

      <ul>
      <% @short_term_goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<div class="actions grid_16">
		<% content_tag :button, :type => :submit, :class => "green round_all" do %>
	 		<%= image_tag "icons/small/white/Bended%20Arrow%20Right.png" %>
			<span>Save this Short Term Goal!</span>
		<% end %>
	</div>
	
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  	<div class="field">
		<%= f.label :school_year %><br />
		<%= f.select :school_year, %w{1 2 3 4} %>
	</div>
	<div class="field">
		<%= f.label :long_term_goals, "Long Term Goals" %>
		<%= f.autosuggest_field :long_term_goals, autosuggest_long_term_goals_path, :autosuggest_options => {"selectedValuesProp" => "value", "selectedItemProp" => "name", "preFill" => model_to_json(@short_term_goal.long_term_goals)} %>
		<img class="add_img" model="long_term_goals">
	</div>
	<div class="field">
		<%= f.label :tasks, "Tasks" %>
		<%= f.autosuggest_field :tasks, autosuggest_tasks_path, :autosuggest_options => {"selectedValuesProp" => "value", "selectedItemProp" => "name", "preFill" => model_to_json(@short_term_goal.tasks)} %>
		<img class="add_img" model="tasks">
	</div>
	<div class="field">
		<%= f.label :tags, "Tags" %>
		<%= f.autosuggest_field :tags, autosuggest_tags_path, :autosuggest_options => {"selectedValuesProp" => "value", "selectedItemProp" => "name", "preFill" => model_to_json(@short_term_goal.tags)} %>
		<img class="add_img" model="tags">
	</div>
  </div>
<% end %>
<script>
	$(function(){
		$(".as-selections").width($(".as-selections").width() - 30);
	});
</script>
