<script>
	var number_of_tasks = 100;
	$(function(){
		
		$(".add_new_task").click(function(){
			$(".field .tasks_input").append('<div id="task['+number_of_tasks+']" class="task_wrapper"><input class="task" name="task['+number_of_tasks+']" size="180" type="text" /><img src="http://humadvisement.byu.edu/sites/default/files/menu_icons/Delete_64x64.png" width="15"></div>');
			setDeleteClick();
			number_of_tasks++;
			return false;
		});
		setDeleteClick();
		$(".add_img").attr('src','http://humadvisement.byu.edu/sites/default/files/menu_icons/Add-Button_64x64.png');
		$(".add_img").click(function(){
			addNew($(this).attr('model'));
		});
	});
	function setDeleteClick(){
		$(".task_wrapper img").unbind('click');
		$(".task_wrapper img").click(function(){
			$(this).parent().remove();
		});
	}
	function addNew(model){
		var dialog = "";
		$.ajax({
			type: "GET",
		   	url: "/" + model + "/new",
		   	data: {'dialog':true},
		   	success: function(data){
				dialog = '<div id="dialog">' + data + '</div>';
				$('body').append(dialog);
				$( "#dialog" ).dialog({width: 800, height: 500, close: function(event, ui) { 
					$("#dialog").dialog('destroy');
					$("#dialog").remove();
					model_singular = model.substring(0,model.length-1);
					$.ajax({
						url: '/' + model + '.json',
						data: {},
						dataType: 'json',
						success: function(data){
							$.each(data, function(index){
								console.log(data[index][name]);
						 	});
						}
					});					
				}});
		   	},
		   	error: function(){
				alert( "ERROR!");
		   	}
		});
	}
</script>
<style>

	.add_img{
		float: right;
		width: 25px;
		margin-top: -35px;
		cursor: pointer;
	}
	.field label{
		clear: both;
	}
	.add_img.select{
		float: none;
	}
	.task_wrapper{
		cursor: pointer;
	}

</style>
<%= form_for(@short_term_goal) do |f| %>
  <% if @short_term_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@short_term_goal.errors.count, "error") %> prohibited this short_term_goal from being saved:</h2>

      <ul>
      <% @short_term_goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<div class="actions grid_16">
		<% content_tag :button, :type => :submit, :class => "green round_all" do %>
	 		<%= image_tag "icons/small/white/Bended%20Arrow%20Right.png" %>
			<span>Save this Short Term Goal!</span>
		<% end %>
	</div>
	<div class="field">
		<%= f.label :long_term_goals, "Attach to the following Long Term Goals..." %>
		<%= f.autosuggest_field :long_term_goals, autosuggest_long_term_goals_path, :autosuggest_options => {"selectedValuesProp" => "value", "selectedItemProp" => "name", "preFill" => model_to_json(@short_term_goal.long_term_goals)} %>
	
	</div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  	<div class="field">
		<%= f.label :school_year %><br />
		<%= f.select :school_year, %w{1 2 3 4} %>
	</div>
	<div class="field">
		<label>Tasks</label><br/>
		<div class="tasks_input">
			<% count = 0 %>
			<% @short_term_goal.tasks.each do |task| %>
				<div id="task[<%= count  %>]" class="task_wrapper">
					<input class="task" name="task[<%= count  %>]" size="180" type="text" value="<%= task.name %>" />
					<img src="http://humadvisement.byu.edu/sites/default/files/menu_icons/Delete_64x64.png" width="15">
				</div>
				<% count += 1 %>
			<% end %>
		</div>
		<br /><a href="#" class="add_new_task">Add New Task</a>
	</div>
	<div class="field">
		<%= f.label :tag_id %><br />
		<%= f.collection_select :tag_id, Tag.order(:name), :id, :name %>
	</div>
	<% if can? :manage, :users %>
		<div class="field">
			<label>Net Id</label>
			<div class="input_group">
				<%= f.collection_select :user_id, User.all, :id, :net_id, {:selected => @short_term_goal.user.id} %>
			</div>
		</div>
	<% else %>
		<%= f.hidden_field :user_id %>
	<% end %>
  </div>
	<% content_tag :button, :type => :submit, :class => "green round_all" do %>
 		<%= image_tag "icons/small/white/Bended%20Arrow%20Right.png" %>
		<span>Save this Short Term Goal!</span>
	<% end %>
<% end %>
<script>
	$(function(){
		$(".as-selections").width($(".as-selections").width() - 30);
	});
</script>
