<%= form_for(@short_term_goal) do |f| %>
  <% if @short_term_goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@short_term_goal.errors.count, "error") %> prohibited this short_term_goal from being saved:</h2>

      <ul>
      <% @short_term_goal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
	<div class="field">
		<%= f.label :school_year %><br />
		<%= f.select :school_year, %w{1 2 3 4} %>
	</div>
	<div class="field">
		<ul>
			<% if !@short_term_goal.tasks.empty? %>
				<li>TASK 1</li>
				<li>TASK 2</li>
				<li>TASK 3</li>
			<% end %>
		</ul>
	</div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
