<p id="notice"><%= notice %></p>
<div class="flat_area grid_16">
	<h2><%= @short_term_goal.name %></h2>
	<span class="edit_links">
		<%= link_to 'Edit', edit_short_term_goal_path(@short_term_goal) %> |
		<%= link_to 'Back', short_term_goals_path %>
	</span>
</div>
<div class="box grid_8">
	<p>
	  <b>Name:</b>
	  <%= @short_term_goal.name %>
	</p>

	<p>
	  <b>Description:</b>
	  <%= raw @short_term_goal.description %>
	</p>

	<p>
	  <b>School year:</b>
	  <%= @short_term_goal.school_year %>
	</p>
	
	<p>
	  <b>Tasks:</b>
		<ul>
	  	<% @short_term_goal.tasks.each do |task| %>
			<li><%= task.name %></li>
		<% end %>
		</ul>
	</p>
	<p>
	  <b>Tag:</b>
	  	<%= @short_term_goal.tag.name %>
	</p>
</div>