<%= form_for(@academic_contact) do |f| %>
  <% if @academic_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@academic_contact.errors.count, "error") %> prohibited this academic_contact from being saved:</h2>

      <ul>
      <% @academic_contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="actions grid_16">
	    <% content_tag :button, :type => :submit, :class => "green round_all" do %>
	 			<%= image_tag "icons/small/white/Bended%20Arrow%20Right.png" %>
				<span>Save this Academic Contact!</span>
			<% end %>
	</div>
	
	<%= theme_box(8, "", false) do %>

  	<div class="field">
	    <%= f.label :name %>
	    <%= f.text_field :name %>
	  </div>
	  <div class="field">
	    <%= f.label :office_location %>
	    <%= f.text_field :office_location %>
	  </div>
	  <div class="field">
	    <%= f.label :phone %>
	    <%= f.text_field :phone %>
	  </div>
	  <div class="field">
	    <%= f.label :email %>
	    <%= f.text_field :email %>
	  </div>
		<div class="field">
			<%= f.label :department_id %>
			<%= f.collection_select :department_id, Department.all, :id, :name, {}, {:class => 'chosen'} %>
		</div>
		
	<% end %>
	
<% end %>
