<p id="notice"><%= notice %></p>

<div class="flat_area grid_16">
	<h2><%= @academic_contact.name %></h2>
	<span class="edit_links">
		<%= link_to 'Edit', edit_academic_contact_path(@academic_contact) %> |
		<%= link_to 'Back', academic_contacts_path %>
	</span>
</div>

<%= theme_box(8, "", false) do %>
	<p>
	  <b>Office location:</b>
	  <%= @academic_contact.office_location %>
	</p>

	<p>
	  <b>Phone:</b>
	  <%= @academic_contact.phone %>
	</p>

	<p>
	  <b>Email:</b>
	  <%= @academic_contact.email %>
	</p>

	<p>
	  <b>Department:</b>
	  <%= @academic_contact.department.name %>
	</p>
<% end %>


