<%= form_for(@internship) do |f| %>

	<% if @internship.errors.any? %>
		<div class="box grid_16 round_all">
		    <div class="alert alert_red">
					<img src="<%= icon_path %>/Alarm%20Bell.png" />
		      <strong><%= pluralize(@internship.errors.count, "error") %></strong> prohibited this internship from being saved:
		    </div>

		</div>
		<div class="box grid_16 round_all">
			<div class="alert_sub_red">
				<ul>
					<% @internship.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
				</ul>
			</div>
		</div>
	<% end %>
	
	
	<div class="actions grid_16">
	    <% content_tag :button, :type => :submit, :class => "green round_all" do %>
	 			<%= image_tag "icons/small/white/Bended%20Arrow%20Right.png" %>
				<span>Save this Internship!</span>
			<% end %>
			<%# link_to "Cancel", internships_path %>
	</div>
	
	<%= theme_box(8, "Basic Information") do %>			
  	<div class="field">
			<%= f.label :name %>
		  <%= f.text_field :name %>
		</div>
		<%= f.label :provider_id %>
		<div class="input_group">
			<%= f.collection_select :provider_id, Provider.all, :id, :name %>
		</div>
		<div class="input_group">
			<%= f.check_box :is_paid %>Paid?<br />
		  <%= f.check_box :is_full_time %>Full-time?<br />
		  <%= f.check_box :is_part_time %>Part-time?
		</div>	
		
		<div class="field">
		    <%= f.label :stipend %>
		    <%= f.text_field :stipend %>
		</div>
		<div class="field">
		    <%= f.label :description %>
		    <%= f.text_area :description, :class => 'tiny_editor' %>
		</div>		
	<% end %>
	
	<%= theme_box(8, "Tags", true) do %>
		<div class="field">
			<%= f.label :field_tokens, "Fields" %>
	    <%= f.text_field :field_tokens  %>
		</div>
		<div class="field">
			<%= f.label :academic_focus_tokens, "Academic Focuses" %>
			<%= f.text_field :academic_focus_tokens %>
		</div>
		<div class="field">
			<%= f.label :location_tokens, "Locations" %>
			<%= f.text_field :location_tokens %>
		</div>
		<div class="field">
			<%= f.label :semester_tokens, "Semesters" %>
			<%= f.text_field :semester_tokens %>
		</div>
		<div class="field">
			<%= f.label :language_tokens, "Languages" %>
			<%= f.text_field :language_tokens %>
		</div>
		<div class="field">
			<%= f.label :financial_assistance_option_tokens, "Financial Assistance Options" %>
			<%= f.text_field :financial_assistance_option_tokens %>
		</div>
	<% end %>
	
	<%= theme_box(8, "Qualifications", true) do %>
		<div class="field">
	    <%= f.label :qualifications %>
	    <%= f.text_area :qualifications, :class => 'tiny_editor' %>
	  </div>
		<div class="field">
	    <%= f.label :qualifications_academic %>
	    <%= f.text_area :qualifications_academic, :class => 'tiny_editor' %>
	  </div>
		<div class="field">
	    <%= f.label :requires_us_citizenship %>
	    <%= f.check_box :requires_us_citizenship %>
	  </div>
	<% end %>
	
	<%= theme_box(8, "Contact Information", true) do %>
		<div class="field">
			<%= f.label :academic_contact_id %>
			<%= f.collection_select :academic_contact_id, AcademicContact.all, :id, :name %>
		</div>
		<div class="field">
			<%= f.label :provider_contact_id %>
			<%= f.collection_select :provider_contact_id, ProviderContact.all, :id, :name %>
		</div>
	<% end %>
	
	<%= theme_box(8, "Additional Information", true) do %>	
		<div class="field">
	    <%= f.label :for_credit %>
	    <%= f.check_box :for_credit %>
	  </div>
		<div class="field">
	    <%= f.label :application_process %>
	    <%= f.text_area :application_process, :class => "tiny_editor" %>
	  </div>
		<div class="field">
	    <%= f.label :deadline %><br />
	    <%= f.text_field :deadline %>
	  </div>
		<div class="field">
	    <%= f.label :notes %><br />
	    <%= f.text_area :notes, :class => 'tiny_editor' %>
	  </div>		
	<% end %>
	
<% end %>
