<%= form_for(@internship) do |f| %>

	<% if @internship.errors.any? %>
		<div class="box grid_16 round_all">
		    <div class="alert alert_red">
					<img src="<%= icon_path %>/Alarm%20Bell.png" />
		      <strong><%= pluralize(@internship.errors.count, "error") %></strong> prohibited this internship from being saved:
		    </div>

		</div>
		<div class="box grid_16 round_all">
			<div class="alert_sub_red">
				<ul>
					<% @internship.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
				</ul>
			</div>
		</div>
	<% end %>

	<div class="box grid_8 round_all">
		<h2 class="box_head grad_colour">Basic Information</h2>

		<div class="block"><!-- Start Form Data -->
			
  		<div class="field">
		    <%= f.label :name %>
		    <%= f.text_field :name %>
			</div>
			<%= f.label :provider_id %>
			<div class="input_group">
				<div class="selector focus">
				
				<%= f.collection_select :provider_id, Provider.all, :id, :name %>
				</div>
			</div>
			<div class="field">
			    <%= f.label :is_paid %>
			    <%= f.check_box :is_paid %>
			</div>
			<div class="field">
			    <%= f.label :is_full_time %>
			    <%= f.check_box :is_full_time %>
			</div>
			<div class="field">
			    <%= f.label :is_part_time %>
			    <%= f.check_box :is_part_time %>
			</div>	
			<div class="field">
			    <%= f.label :stipend %>
			    <%= f.text_field :stipend %>
			</div>
			<div class="field">
			    <%= f.label :description %>
			    <%= f.text_area :description, :class => 'tiny_editor' %>
			</div>
			
	  	<div class="actions">
		    <%= f.submit :class => 'skin_colour round_all' %>
		  </div>
		
		</div><!-- END BLOCK -->
		
	</div><!-- END BOX (8 COL Grid) -->
	
	<div class="box grid_8 round_all">
		<h2 class="box_head grad_colour">Additional Information</h2>
		
		<div class="block"><!-- Start Form Data -->
		
			<div class="field">
		    <%= f.label :qualifications %>
		    <%= f.text_area :qualifications, :class => 'tiny_editor' %>
		  </div>
			<div class="field">
		    <%= f.label :qualifications_academic %>
		    <%= f.text_area :qualifications_academic, :class => 'tiny_editor' %>
		  </div>
			<div class="field">
		    <%= f.label :for_credit %>
		    <%= f.check_box :for_credit %>
		  </div>
			<div class="field">
		    <%= f.label :requires_us_citizenship %>
		    <%= f.check_box :requires_us_citizenship %>
		  </div>
			<div class="field">
				<%= f.label :academic_contact_id %>
				<%= f.collection_select :academic_contact_id, AcademicContact.all, :id, :name %>
			</div>
			<div class="field">
				<%= f.label :provider_contact_id %>
				<%= f.collection_select :provider_contact_id, ProviderContact.all, :id, :name %>
			</div>
			<div class="field">
		    <%= f.label :application_process %>
		    <%= f.text_area :application_process, :class => "tiny_editor" %>
		  </div>
			<div class="field">
		    <%= f.label :deadline %><br />
		    <%= f.text_field :deadline %>
		  </div>
			<div class="field">
		    <%= f.label :notes %><br />
		    <%= f.text_area :notes, :class => 'tiny_editor' %>
		  </div>
		
		</div><!-- END BLOCK -->
	
	</div><!-- END BOX (8 Col Grid)-->
	
<% end %>
