<h2>Internships</h2>
<div class="box round_all">
	<table class="display datatable index_tables">
  		<thead>
			<tr>
	      		<th>Name</th>
				<th>Provider</th>
				<th>Full Time</th>
				<th>Part Time</th>
	    		<th colspan="3">Actions</th>
	  		</tr>
		</thead>
		<tbody>
			<% @internships.each do |internship| %>
		  	<tr>
		    	<td><%= internship.name %></td>
				<td><%= internship.provider.name %></td>
				<td><%= internship.is_full_time %></td>
				<td><%= internship.is_part_time %></td>
		    	<td>
					<%= link_to internship do %>
						<button class="skin_colour round_all">
							<img src="<%= icon_path %>/Document.png" alt="View this internship" />
						</button>
					<% end %>
				</td>
		    	<td>
					<%= link_to edit_internship_path(internship) do %>
						<button class="skin_colour round_all">
							<img src="<%= icon_path %>/Pencil.png" alt="Edit this internship" />
						</button>
					<% end %>
				</td>
		    	<td>
					<%= link_to internship, :confirm => 'Are you sure?', :method => :delete do%>
						<button class="skin_colour round_all">
							<img alt="Delete this internship" src="<%= icon_path %>/Trashcan.png" />
						</button>
					<% end %>
				</td>
		  	</tr>
			<% end %>
		</tbody>
	</table>

	<br />

	<%= link_to new_internship_path do %>
		<button class="skin_colour round_all">
			<img src="<%= icon_path %>/Document.png" alt="Add an Internship" />
			<span>New Internship</span>
		</button>
	<% end %>
</div>