<h1>Listing internships</h1>

<table>
  <tr>
    <th>Name</th>
	<th>Provider</th>
	<th>Full Time</th>
	<th>Part Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @internships.each do |internship| %>
  <tr>
    <td><%= internship.name %></td>
	<td><%= internship.provider.name %></td>
	<td><%= internship.is_full_time %></td>
	<td><%= internship.is_part_time %></td>
    <td><%= link_to 'Show', internship %></td>
    <td><%= link_to 'Edit', edit_internship_path(internship) %></td>
    <td><%= link_to 'Destroy', internship, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Internship', new_internship_path %>
