<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @internship.name %>
</p>
<p>
  <b>Provider:</b>
  <%= @internship.provider.name %>
</p>
<p>
  <b>Is Paid:</b>
  <%= @internship.is_paid %>
</p>
<p>
  <b>Full Time:</b>
  <%= @internship.is_full_time %>
</p>
<p>
  <b>Part Time:</b>
  <%= @internship.is_part_time %>
</p>
<p>
  <b>Stipend:</b>
  <%= @internship.stipend %>
</p>
<p>
  <b>Description:</b>
  <%= raw @internship.description %>
</p>
<p>
  <b>Qualifications:</b>
  <%= raw @internship.qualifications %>
</p>
<p>
  <b>Qualifications Academic:</b>
  <%= raw @internship.qualifications_academic %>
</p>
<p>
  <b>For Credit:</b>
  <%= @internship.for_credit %>
</p>
<p>
  <b>Requires U.S. Citizenship:</b>
  <%= @internship.requires_us_citizenship %>
</p>
<p>
  <b>Academic Contact:</b>
  <%= @internship.academic_contact.name %>
</p>
<p>
  <b>Provider Contact:</b>
  <%= @internship.provider_contact.name %>
</p>
<p>
  <b>Application Process:</b>
  <%= @internship.application_process %>
</p>
<p>
  <b>Deadline:</b>
  <%= @internship.deadline %>
</p>
<p>
  <b>Notes:</b>
  <%= @internship.notes %>
</p>
<p>
  <b>Majors:</b>
	<ul>
		<% @internship.academic_focuses.each do |major| %>
			<% if major.academic_focus_type.name == "Major" %>
				<li><%= major.name %></li>
			<% end %>
		<% end %>
	</ul>	
</p>
<p>
  <b>Minors:</b>
	<ul>
		<% @internship.academic_focuses.each do |minor| %>
			<% if minor.academic_focus_type.name == "Minor" %>
				<li><%= minor.name %></li>
			<% end %>
		<% end %>
	</ul>
</p>

<p>
  <b>Languages:</b>
	<ul>
		<% @internship.languages.each do |language| %>
			<li><%= language.name %></li>
		<% end %>
	</ul>
</p>
<p>
	<b>Fields:</b>
	<ul>
		<% @internship.fields.each do |field| %>
			<li><%= field.name %></li>
		<% end %>
	</ul>
</p>
<p>
	<b>Locations:</b>
	<ul>
		<% @internship.locations.each do |location| %>
			<li><%= location.city %></li>
		<% end %>
	</ul>
</p>

<p>
	<b>Financial Assistance Options:</b>
	<ul>
		<% @internship.financial_assistance_options.each do |option| %>
			<li><%= option.name %></li>
		<% end %>
	</ul>
</p>
<p>
	<b>Semesters:</b>
	<ul>
		<% @internship.semesters.each do |semester| %>
			<li><%= semester.name %></li>
		<% end %>
	</ul>
</p>


<%= link_to 'Edit', edit_internship_path(@internship) %> |
<%= link_to 'Back', internships_path %>
