<p id="notice"><%= notice %></p>

<div class="flat_area grid_16">
	<h2><%= @internship.name %></h2>
	<span class="edit_links">
		<%= link_to 'Edit', edit_internship_path(@internship) %> |
		<%= link_to 'Back', internships_path %>
	</span>
</div>

<div class="box grid_8">
	<div class="block">
		<p>
		  <b>Provider:</b>
		  <%= @internship.provider.name %>
		</p>
		<p>
		  <% if @internship.is_paid %>
				<b>Paid</b>
			<% else %> <b>Not Paid</b>
			<% end %> - <b><%= full_part_time(@internship.is_full_time, @internship.is_part_time) %></b>
			<% if @internship.for_credit %> - <b>For Credit</b><% end %>
		</p>
		<p>
		  <b>Stipend:</b>
		  <%= @internship.stipend %>
		</p>
		<p>
		  <b>Description:</b>
		  <%= raw @internship.description %>
		</p>
</div></div>

<div class="box grid_8 tabs">
	<div class="side_holder">
		<ul class="tab_sider clearfix">
			<li><a href="#tabs-add">Additional Information</a></li>
			<li><a href="#tabs-qualification">Qualifications</a></li>
			<li><a href="#tabs-tags">Details</a></li>
		</ul>
	</div>
	
	<div id="tabs-add" class="block tab_sider">
		<div class="content">
			<p>
			  <b>Academic Contact:</b>
			  <%= @internship.academic_contact.name %>
			</p>
			<p>
			  <b>Provider Contact:</b>
			  <%= @internship.provider_contact.name %>
			</p>
			<p>
			  <b>Application Process:</b>
			  <%= raw @internship.application_process %>
			</p>
			<p>
			  <b>Deadline:</b>
			  <%= @internship.deadline %>
			</p>
			<p>
			  <b>Notes:</b>
			  <%= raw @internship.notes %>
			</p>
		</div>
	</div><!-- END TAB-->
	
	<div id="tabs-qualification" class="block tab_sider">
		<div class="content">
			<p>
			  <b>Qualifications:</b>
			  <%= raw @internship.qualifications %>
			</p>
			<p>
			  <b>Qualifications Academic:</b>
			  <%= raw @internship.qualifications_academic %>
			</p>
			<p>
				<% if @internship.requires_us_citizenship %>
			  	<b>Requires U.S. Citizenship</b>
				<% end %>
			</p>	
		</div>
	</div><!-- END TAB -->
	
	<div id="tabs-tags" class="block tab_sider">
		<div class="content">
			<p>
			  <b>Majors:</b>
				<ul>
					<% @internship.academic_focuses.each do |major| %>
						<% if major.academic_focus_type.name == "Major" %>
							<li><%= major.name %></li>
						<% end %>
					<% end %>
				</ul>	
			</p>
			<p>
			  <b>Minors:</b>
				<ul>
					<% @internship.academic_focuses.each do |minor| %>
						<% if minor.academic_focus_type.name == "Minor" %>
							<li><%= minor.name %></li>
						<% end %>
					<% end %>
				</ul>
			</p>

			<p>
			  <b>Languages:</b>
				<ul>
					<% @internship.languages.each do |language| %>
						<li><%= language.name %></li>
					<% end %>
				</ul>
			</p>
			<p>
				<b>Fields:</b>
				<ul>
					<% @internship.fields.each do |field| %>
						<li><%= field.name %></li>
					<% end %>
				</ul>
			</p>
			<p>
				<b>Locations:</b>
				<ul>
					<% @internship.locations.each do |location| %>
						<li><%= location.city %></li>
					<% end %>
				</ul>
			</p>

			<p>
				<b>Financial Assistance Options:</b>
				<ul>
					<% @internship.financial_assistance_options.each do |option| %>
						<li><%= option.name %></li>
					<% end %>
				</ul>
			</p>
			<p>
				<b>Semesters:</b>
				<ul>
					<% @internship.semesters.each do |semester| %>
						<li><%= semester.name %></li>
					<% end %>
				</ul>
			</p>
		</div>
	</div>
	
</div>
