<%= form_for(@language) do |f| %>
  <% if @language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@language.errors.count, "error") %> prohibited this language from being saved:</h2>

      <ul>
      <% @language.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="actions grid_16">
	    <% content_tag :button, :type => :submit, :class => "green round_all" do %>
	 			<%= image_tag "icons/small/white/Bended%20Arrow%20Right.png" %>
				<span>Save this Language!</span>
			<% end %>
	</div>

	<%= theme_box(8, "", false) do %>
  	<div class="field">
	    <%= f.label :name %>
	    <%= f.text_field :name %>
	  </div>
  <% end %>

<% end %>
