<%= form_for(@field) do |f| %>
  <% if @field.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
      <% @field.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="actions grid_16">
	    <% content_tag :button, :type => :submit, :class => "green round_all" do %>
	 			<%= image_tag "icons/small/white/Bended%20Arrow%20Right.png" %>
				<span>Save this Field!</span>
			<% end %>
	</div>

	<%= theme_box(8, "", false) do %>

  	<div class="field">
	    <%= f.label :name %>
	    <%= f.text_field :name %>
	  </div>
		<div class="field">
			<%= f.label :industry_id %>
			<%= f.collection_select :industry_id, Industry.all, :id, :name %>
		</div>
		
	<% end %>

<% end %>
