<p id="notice"><%= notice %></p>
<div class="flat_area grid_16">
	<h2><%= @tag.name %></h2>
	<span class="edit_links">
		<%= link_to 'Edit', edit_tag_path(@tag) %> |
		<%= link_to 'Back', tags_path %>
	</span>
</div>
<div class="box grid_8">
	<p>
	  <b>Name:</b>
	  <%= @tag.name %>
	</p>	
</div>