<p id="notice"><%= notice %></p>

<div class="flat_area grid_16">
	<h2><%= @location.city %></h2>
	<span class="edit_links">
		<%= link_to 'Edit', edit_location_path(@location) %> |
		<%= link_to 'Back', locations_path %>
	</span>
</div>

<%= theme_box(8, "", false) do %>
	<p>
	  <b>State:</b>
	  <%= @location.state.name %>
	</p>

	<p>
	  <b>Country:</b>
	  <%= @location.country.name %>
	</p>
<% end %>



