<ul class="clearfix">
	<li>
		<%= link_to myguide_admin_dashboard_path do %>
				<img src="<%= grey_icon_path %>/Blocks%20Images.png" />
				Dashboard
		<% end %>
	</li>
	<li>
		<%= link_to long_term_goals_path do %>
				<img src="<%= grey_icon_path %>/Blocks%20Images.png" />
				Long Term Goals
		<% end %>
	</li>
	<li>
		<%= link_to short_term_goals_path do %>
				<img src="<%= grey_icon_path %>/Blocks%20Images.png" />
				Short Term Goals
		<% end %>
	</li>
	<li>
		<%= link_to tags_path do %>
				<img src="<%= grey_icon_path %>/Blocks%20Images.png" />
				Tags
		<% end %>
	</li>
</ul>