
<img src="/logo.png">
<div class="user_box round_all clearfix">
	<img src="<%= root_url %>/images/profile.jpg" alt="Profile Pic" width="55" />
	<h2>
		<% if @current_user.has_role ['admin'] %>
			Administrator
		<% elsif @current_user.has_role ['advisor'] %>
			Advisor
		<% elsif @current_user.has_role ['student'] %>
			Student
		<% else %>
			Guest
		<% end %>
	</h2>
	<h3><a class="text_shadow" href="#profile"><%= @current_user[:display_name]  %></a></h3>
	<ul>
		<li><a href="#">settings</a><span class="divider">|</span></li>
		<li><%= link_to 'logout', logout_path %></li>
	</ul>
</div><!-- #user_box -->

<ul id="side_links" class="text_shadow" >
	<li><%= link_to root_path do %><img src="<%= grey_icon_path %>/Home.png"/>Home<% end %></li>
	<% if can? :read, :internships %>
		<li><%= link_to internships_map_path do %><img src="<%= grey_icon_path %>/Map.png"/>Internships<% end %></li>
	<% end %>
	<% if can? :manage, :internships %>
		<li><%= link_to internship_dashboard_path do %><img src="<%= grey_icon_path %>/Cog%202.png" />Internship Admin<% end %></li>
	<% end %>
	
	<% if can? :myguide, :pages %>
		<li><%= link_to myguide_path do %><img src="<%= grey_icon_path %>/Blocks%20Images.png"/>"My Guide"<% end %></li>
	<% end %>
	<% if (can? :manage, :long_term_goals) && (can? :manage, :short_term_goals) %>
		<li><%= link_to myguide_admin_dashboard_path do %><img src="<%= grey_icon_path %>/Cog%202.png"/>"My Guide" Admin<% end %></li>
	<% end %>
	<% if can? :manage, :all %>
		<li><%= link_to root_path do %><img src="<%= grey_icon_path %>/Documents.png"/>Documentation<% end %></li>
	<% end %>
</ul>