<!DOCTYPE html>
<html>
<head>
  <title>Internships</title>
  <%= stylesheet_link_tag "all" %>
	<%= stylesheet_link_tag "header_slideout" %>
  <%= javascript_include_tag "jquery.min.js" %>
	<%= javascript_include_tag "jquery-ui.min.js" %>
	<%= javascript_include_tag "DataTables/jquery.dataTables.min.js" %>
	<%= javascript_include_tag "tinyeditor/tinyeditor.js" %>
	<%= javascript_include_tag "rails.js" %>
	<%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= link_to root_path do %>
	<button class="skin_colour round_all">
		<img src="<%= icon_path %>/Home.png" />
		<span>Home</span>
	</button>
<% end %>
<br />
<br />
<br />

<div id="main_container" class="main_container container_16 clearfix">
	<%= yield %>
</div>

</body>
</html>
