<!DOCTYPE html>
<html>
<head>
  <title>Internships</title>
  	<%= stylesheet_link_tag "all" %>
		<%= stylesheet_link_tag "autoSuggest.css" %>
  	<%= javascript_include_tag "jquery.min.js" %>
		<%= javascript_include_tag "jquery-ui.min.js" %>
		<%= javascript_include_tag "DataTables/jquery.dataTables.min.js", "jquery.uniform.js" %>
		<%= javascript_include_tag "tinyeditor/tiny_mce.js" %>
		<%= javascript_include_tag "rails.js" %>
		<%= javascript_include_tag "application.js" %>
		<%= javascript_include_tag "jquery.autoSuggest.js" %>
	
  	<%= csrf_meta_tag %>
</head>
<body orient="portrait" style="min-height: 420px; min-width: 320px;">
	<div id="wrapper">
		<div id="sidebar">
			<%= render 'layouts/sidebar'%>
		</div><!-- #sidebar -->
		<div id="main_container" class="main_container container_16 clearfix">
			<div id="nav_top" class="clearfix  round_top">
				<%= render 'layouts/nav_top_' + @section %>
			</div><!-- #nav_top -->
			<div class="flat_area ">
				<%= yield %>
			</div>	
		</div>
	</div>
</body>
</html>
