<html>
<head>
  <title>Internships</title>

	<%= stylesheet_link_tag "reset.css" %>
	<%= stylesheet_link_tag "theme/theme_base.css" %>
	<%= stylesheet_link_tag "jqueryui.css" %>
	<%= stylesheet_link_tag "datatables.css" %>
	<%= stylesheet_link_tag "autoSuggest.css" %>
	<%= stylesheet_link_tag "map_style.css" %>
	
	<link href="/javascripts/showLoading/css/showLoading.css" rel="stylesheet" media="screen" /> 
	<link href="/javascripts/qvivo_scrollbars/style/qvivo_scroll.css" rel="stylesheet" media="screen" /> 
	
	<%= javascript_include_tag "ejs.js" %>
	<%= javascript_include_tag "jquery.min.js", "jquery-ui.min.js" %>
	
	<script type="text/javascript" src="http://humadvisement.byu.edu/map/js/jquery-1.5.1.min.js"></script>
	<script type="text/javascript" src="http://humadvisement.byu.edu/map/js/jquery-ui-1.8.13.custom.min.js"></script>
	
	<%= javascript_include_tag  "jquery.svg/jquery.svg.js", "jquery.svg/jquery.svganim.js", 
								"map_script.js", "showLoading/js/jquery.showLoading.js","DataTables/jquery.dataTables.min.js" %>
	<%= javascript_include_tag "jquery.autoSuggest.js" %>
	<%= javascript_include_tag "qvivo_scrollbars/js/qvivo_scroll.js" %>
	
	<%= csrf_meta_tag %>	
	
</head>
<body>
	<%= yield %>
</body>
</html>